@import "../../assets/styles.scss";

.poke-card {
  margin: auto;
  margin-top: 20px;
  height: 14vw;
  width: 60vw;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 5px 0px 15px 2px #D0D3D4;

  .poke-photo {
    background-color: #F8F9F9;
    width: 12vw;
    height: 12vw;
    border-radius: 20px;
    margin: 1vw 2vw;
    box-shadow: inset 0px 0px 10px 10px white;
    .photo {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .poke-description {
    width: 47vw;
    margin-right: 1vw;
    .poke-name {
      font-weight: 900;
      font-size: xx-large;
      margin: 15px 0px;
      text-transform: capitalize;
    }
  }

  .favorite-button {
    svg {
      fill: gray; 
    }

    &.is-favorite {
      svg {
        fill: gold;
      }
    }

  }
}