@import "../../assets/general.scss";

.background {
 background: url('../../assets/images/login.jpg');

 height: 100%; 

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 display:flex;
 align-items: center;
 justify-content: center;
}