@import "../../assets/general.scss";

.pokemon-list {
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(8, 160px);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}