.medal-card {
    .info-wrapper {
        .medal-name {
            background-color: #ffffff8f;
            padding: 3px 7px;
            font-size: 13px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            border-radius: 3px;
        }
    }
}