@import "../../assets/general.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');



.profile-container {
  height: 100%;
  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(50% - 30px);
    background-color: white;

    
    .profile-pic {
      background: url('../../assets/images/profile-pic.jpg');
      @include boxShadow;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
    }
  
    .show-pokemon:hover {
      background-color: $secondary-color;
    }
  
    .show-pokemon:active {
      background-color: $third-color;
    }
  
    .card-info {
      margin: 1.5rem;
      width: 100%;
  
      .username {
        font-size: 1.5rem;
        font-weight: 700;
        color:$main-color;
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        margin-bottom: 20px;
      }
  
      .description {
        color: #756878;
        line-height: 25px;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
      }
  
      .numbers-indicator {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        .indicator {
          display: flex;
          flex-direction: column;
          font-family: 'Oxygen', sans-serif;
        }
        
      }
  
    }
  }
  
  .about-me {
    height: calc(50% - 28px);
    margin-top: 20px;
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      color:$main-color;
      font-family: 'Oxygen', sans-serif;
    }
    .description {
      font-family: 'Oxygen', sans-serif;
      text-align: left;
      margin: 0 15px;
    }
  }

}
